#want line items in order
# want image, name and description 
# waht their respective quantities and line item totals 
# want final amount for the order 
#email that was used 

<tr>
  <td>
    <%= image_tag product.image.tiny %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <br>
    <p><%= product.description %></p>
  </td>
  <td>
    <%= humanized_money_with_symbol product.price %>
  </td>
  <td>
    <%= quantity %>
  </td>
  <td>
    <%= humanized_money_with_symbol product.price * quantity %>
  </td>
</tr>